body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(238, 197, 170);
  color: #ddd;
  text-align: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}
h2{
  color: #1884f8;
  font-size: 2em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background: transparent;
  border: 3px solid rgb(248, 128, 128);
  border-radius: 14px;
  padding: 10px;
  color: rgb(247, 10, 10);
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
  color: rgb(238, 106, 106);
  border-color: rgb(252, 66, 66);;
}
.content{
  text-align: left;
}

.card {
  padding: 8px 16px;
  background: #1b1b1b;
  margin:16px 0;
  border-radius: 20px;
}

.card p {
  margin:16px 0;
  color: #999;
}

.card h3 {
  margin: 16px 0;
  color:#ffff57;
}

span {
  color:black;
  font-weight: bold;
}